#postgres
DB_HOST=postgres
DB_PORT=postgres
DB_USER=postgres
DB_PASS=postgres
DB_NAME=postgres

#jwt
ACCES_TOKEN_EXPIRE_MINUTES=15
ALGORITHM=HS256

#openssl rand -hex 32
SECRET_KEY=9780a43e33a9d2dd909938f7da0c9c2fdc66b15ad6996f529c987986b609fbfd

#redis
REDIS_HOST=redis
REDIS_PORT=6379